main {  
  @include outer-container;

  > section {
    @include span-columns(12);
    @include pad;
  }

  > article {
    @include span-columns(12);
    @include pad;
  }
}

html {
  font-family: "Avenir Next", system;
  font-size: 14px;
  color: #444;
}

a {
  color: #DC493A;
  text-decoration: none;
}

body {
  background-color: #fff;
  min-height: 100vh;
}

.container {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: center;
  align-items: flex-start;
}

.boxed,
.fluid {
  padding: 0 20px;
}

.boxed {
  max-width: 960px;
}

.fluid {
  max-width: 100%;
}

.left {
  order: 0;
  flex: 0 1 250px;
  align-self: stretch;
  padding: 0px 20px 20px 20px;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: flex-start; 
    .left-flex-child {
    flex: 0 1 auto;
    align-self: stretch;
  }
  .title-box {
    h1 {
      font-size: 2rem;
      line-height: 1em;
      margin-top: 0;
    }
    .intro {
      font-size: 1em;
    }
  }
  .menu {
    .navigation {
      padding-left: 0em;
      list-style: none;      
      li.link {
        a {
        }
      }
    }
  }
}

.right {
  order: 1;
  flex: 0 1 auto;
  align-self: stretch;
  padding: 20px;
  .right-wrapper {
    max-width: 640px;
  }
}

.post-template {

  main {
    margin-top: 4rem;
  }
}
