<ul class="navigation">
    {{#foreach navigation}}
    <li class="link link-{{slug}}{{#if current}} link-current{{/if}}"><a href="{{url absolute="true"}}">{{label}}</a></li>
    {{/foreach}}
    <li class="link link-twitter"><a href="https://twitter.com/_johlym" rel="me"><i class="fab fa-twitter"></i>/johlym</a></li>
    <li class="link link-github"><a href="https://github.com/johlym" rel="me"><i class="fab fa-github"></i>/johlym</a></li>
</ul>